[package]
name = "sentry-types"
version = "0.34.0"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Common reusable types for implementing the sentry.io protocol.
"""
keywords = ["sentry", "protocol"]
edition = "2021"
rust-version = "1.73"

[package.metadata.docs.rs]
all-features = true

[features]
default = ["protocol"]
protocol = []
metrics = []

[dependencies]
debugid = { version = "0.8.0", features = ["serde"] }
hex = "0.4.3"
rand = "0.8.5"
serde = { version = "1.0.104", features = ["derive"] }
serde_json = "1.0.46"
thiserror = "1.0.15"
time = { version = "0.3.5", features = ["formatting", "parsing"] }
url = { version = "2.1.1", features = ["serde"] }
uuid = { version = "1.0.0", features = ["serde"] }

[dev-dependencies]
rstest = "0.19.0"
