[package]
name = "sentry-log"
version = "0.29.3"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Sentry integration for log and env_logger crates.
"""
edition = "2021"
rust-version = "1.60"

[dependencies]
sentry-core = { version = "0.29.3", path = "../sentry-core" }
log = { version = "0.4.8", features = ["std"] }

[dev-dependencies]
sentry = { path = "../sentry", default-features = false, features = ["test"] }
pretty_env_logger = "0.4.0"
