[package]
name = "sentry-log"
version = "0.20.1"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Sentry integration for log and env_logger crates.
"""
edition = "2018"

[dependencies]
sentry-core = { version = "0.20.1", path = "../sentry-core" }
sentry-backtrace = { version = "0.20.1", path = "../sentry-backtrace" }
log = { version = "0.4.8", features = ["std"] }

[dev-dependencies]
sentry = { version = "0.20.1", path = "../sentry", default-features = false, features = ["test"] }
pretty_env_logger = "0.4.0"
