[package]
name = "sentry-debug-images"
version = "0.22.0"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Sentry integration that adds the list of loaded libraries to events.
"""
edition = "2018"

[dependencies]
sentry-core = { version = "0.22.0", path = "../sentry-core" }
lazy_static = "1.4.0"
findshlibs = "0.8.0"
