[package]
name = "sentry-backtrace"
version = "0.27.0"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Sentry integration and utilities for dealing with stacktraces.
"""
edition = "2021"
rust-version = "1.57"

[dependencies]
backtrace = "0.3.44"
once_cell = "1"
regex = "1.5.5"
sentry-core = { version = "0.27.0", path = "../sentry-core" }
