[package]
name = "sentry-tracing"
version = "0.22.0"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Sentry integration for tracing and tracing-subscriber crates.
"""
edition = "2018"

[dependencies]
sentry-core = { version = "0.22.0", path = "../sentry-core" }
tracing-core = "0.1"
tracing-subscriber = "0.2"

[dev-dependencies]
log = "0.4"
sentry = { version = "0.22.0", path = "../sentry", default-features = false, features = ["test"] }
tracing = "0.1"
