[package]
name = "sentry"
version = "0.24.1"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Sentry (getsentry.com) client for rust ;)
"""
edition = "2018"
autoexamples = true

# To build locally:
# RUSTDOCFLAGS="--cfg doc_cfg" cargo +nightly doc --all-features --open
[package.metadata.docs.rs]
all-features = true
# Defines the configuration attribute `doc_cfg` in order to expose feature-gated docs.
rustdoc-args = ["--cfg", "doc_cfg"]

[features]
default = ["backtrace", "contexts", "panic", "transport"]

# default integrations
backtrace = ["sentry-backtrace"]
contexts = ["sentry-contexts"]
panic = ["sentry-panic"]
# other integrations
anyhow = ["sentry-anyhow"]
debug-images = ["sentry-debug-images"]
log = ["sentry-log"]
slog = ["sentry-slog"]
tower = ["sentry-tower"]
tracing = ["sentry-tracing"]
# other features
test = ["sentry-core/test"]
debug-logs = ["log_", "sentry-core/debug-logs"]
# transports
transport = ["reqwest", "native-tls"]
reqwest = ["reqwest_", "httpdate", "tokio"]
curl = ["curl_", "httpdate", "serde_json", "tokio"]
surf-h1 = ["surf_/h1-client", "httpdate"]
surf = ["surf_/curl-client", "httpdate", "tokio"]
native-tls = ["reqwest_/default-tls"]
rustls = ["reqwest_/rustls-tls"]

[dependencies]
sentry-core = { version = "0.24.1", path = "../sentry-core", features = ["client"] }
sentry-anyhow = { version = "0.24.1", path = "../sentry-anyhow", optional = true }
sentry-backtrace = { version = "0.24.1", path = "../sentry-backtrace", optional = true }
sentry-contexts = { version = "0.24.1", path = "../sentry-contexts", optional = true }
sentry-debug-images = { version = "0.24.1", path = "../sentry-debug-images", optional = true }
sentry-log = { version = "0.24.1", path = "../sentry-log", optional = true }
sentry-panic = { version = "0.24.1", path = "../sentry-panic", optional = true }
sentry-slog = { version = "0.24.1", path = "../sentry-slog", optional = true }
sentry-tower = { version = "0.24.1", path = "../sentry-tower", optional = true }
sentry-tracing = { version = "0.24.1", path = "../sentry-tracing", optional = true }
log_ = { package = "log", version = "0.4.8", optional = true, features = ["std"] }
reqwest_ = { package = "reqwest", version = "0.11", optional = true, features = ["blocking", "json"], default-features = false }
curl_ = { package = "curl", version = "0.4.25", optional = true }
httpdate = { version = "1.0.0", optional = true }
surf_ = { package = "surf", version = "2.0.0", optional = true, default-features = false }
serde_json = { version = "1.0.48", optional = true }
tokio = { version = "1.0", features = ["rt"], optional = true }

[dev-dependencies]
sentry-anyhow = { path = "../sentry-anyhow" }
sentry-log = { path = "../sentry-log" }
sentry-slog = { path = "../sentry-slog" }
sentry-tower = { path = "../sentry-tower" }
sentry-tracing = { path = "../sentry-tracing" }
log_ = { package = "log", version = "0.4.8", features = ["std"] }
slog_ = { package = "slog", version = "2.5.2" }
tower_ = { package = "tower", version = "0.4", features = ["util"] }
tracing_ = { package = "tracing", version = "0.1" }
tracing-subscriber = { version = "0.3", features = ["fmt", "tracing-log"] }
actix-web = { version = "3", default-features = false }
tokio = { version = "1.0", features = ["macros"] }
pretty_env_logger = "0.4.0"
anyhow_ = { package = "anyhow", version = "1.0.30" }
