[package]
name = "sentry-core"
version = "0.22.0"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Core sentry library used for instrumentation and integration development.
"""
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[[bench]]
name = "scope_benchmark"
harness = false

[features]
default = []
client = ["rand"]
# I would love to just have a `log` feature, but this is used inside a macro,
# and macros actually expand features (and extern crate) where they are used!
debug-logs = ["log_"]
test = ["client"]

[dependencies]
sentry-types = { version = "0.22.0", path = "../sentry-types" }
serde = { version = "1.0.104", features = ["derive"] }
chrono = "0.4.10"
lazy_static = "1.4.0"
rand = { version = "0.8.1", optional = true }
serde_json = "1.0.46"
log_ = { package = "log", version = "0.4.8", optional = true, features = ["std"] }

[dev-dependencies]
# Because we re-export all the public API in `sentry`, we actually run all the
# doctests using the `sentry` crate. This also takes care of the doctest
# limitation documented in https://github.com/rust-lang/rust/issues/45599.
sentry = { version = "0.22.0", path = "../sentry", default-features = false, features = ["test"] }
thiserror = "1.0.15"
anyhow = "1.0.30"
tokio = { version = "1.0", features = ["rt", "rt-multi-thread", "macros"] }
criterion = "0.3"
