[package]
name = "sentry-core"
version = "0.34.0"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://sentry.io/welcome/"
description = """
Core sentry library used for instrumentation and integration development.
"""
edition = "2021"
rust-version = "1.73"

[package.metadata.docs.rs]
all-features = true

[[bench]]
name = "scope_benchmark"
harness = false

[features]
default = []
client = ["rand"]
# I would love to just have a `log` feature, but this is used inside a macro,
# and macros actually expand features (and extern crate) where they are used!
debug-logs = ["dep:log"]
test = ["client"]
metrics = ["sentry-types/metrics", "regex", "crc32fast"]
metrics-cadence1 = ["dep:cadence", "metrics"]

[dependencies]
cadence = { version = "1.4.0", optional = true }
crc32fast = { version = "1.4.0", optional = true }
log = { version = "0.4.8", optional = true, features = ["std"] }
once_cell = "1"
rand = { version = "0.8.1", optional = true }
regex = { version = "1.7.3", optional = true }
sentry-types = { version = "0.34.0", path = "../sentry-types" }
serde = { version = "1.0.104", features = ["derive"] }
serde_json = { version = "1.0.46" }
uuid = { version = "1.0.0", features = ["v4", "serde"], optional = true }

[dev-dependencies]
# Because we re-export all the public API in `sentry`, we actually run all the
# doctests using the `sentry` crate. This also takes care of the doctest
# limitation documented in https://github.com/rust-lang/rust/issues/45599.
sentry = { path = "../sentry", default-features = false, features = [
    "test",
    "transport",
] }
anyhow = "1.0.30"
criterion = "0.5"
futures = "0.3.24"
rayon = "1.5.3"
thiserror = "1.0.15"
tokio = { version = "1.0", features = ["rt", "rt-multi-thread", "macros"] }
