[package]
name = "sentry-core"
version = "0.18.0"
authors = ["Sentry <hello@sentry.io>"]
license = "Apache-2.0"
readme = "README.md"
repository = "https://github.com/getsentry/sentry-rust"
homepage = "https://github.com/getsentry/sentry-rust"
documentation = "https://getsentry.github.io/sentry-rust"
description = """
Core sentry library used for instrumentation and integration development.
"""
edition = "2018"

[package.metadata.docs.rs]
all-features = true

[features]
default = ["with_client_implementation"]
with_client_implementation = ["im", "url", "rand"]
with_debug_to_log = ["log"]
with_test_support = []

[dependencies]
url = { version = "2.1.1", optional = true }
log = { version = "0.4.8", optional = true, features = ["std"] }
sentry-types = { path = "../sentry-types", version = "0.15.0" }
env_logger = { version = "0.7.1", optional = true }
lazy_static = "1.4.0"
im = { version = "14.2.0", optional = true }
rand = { version = "0.7.3", optional = true }

[dev-dependencies]
pretty_env_logger = "0.4.0"
thiserror = "1.0.15"
anyhow = "1.0.30"
failure = "0.1.8"
sentry-failure = { version = "0.18.0", path = "../sentry-failure" }
