name: CI

on:
  push:
    branches:
      - master
      - "release/**"
  pull_request:

jobs:
  lints:
    name: Lints
    runs-on: ubuntu-latest
    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - run: rustup toolchain install stable --profile minimal --component rustfmt --component clippy --no-self-update

      - uses: Swatinem/rust-cache@v2

      - name: Run cargo fmt
        run: cargo fmt --all -- --check

      - name: Run cargo clippy
        run: cargo clippy --all-features --workspace --tests --examples -- -D clippy::all

  check:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable]

    name: Check feature permutations using Rust ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    env:
      RUSTFLAGS: -Dwarnings

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - run: rustup toolchain install ${{ matrix.rust }} --profile minimal --no-self-update

      - uses: Swatinem/rust-cache@v2

      - run: make checkall

  test:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [stable]

    name: Test using Rust ${{ matrix.rust }} on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - run: rustup toolchain install ${{ matrix.rust }} --profile minimal --no-self-update

      - uses: Swatinem/rust-cache@v2

      - name: Run cargo test
        run: cargo test --workspace --all-features --all-targets

  MSRV:
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, macos-latest, windows-latest]
        rust: [1.60.0]

    name: Check / Test MSRV on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}

    env:
      RUSTFLAGS: -Dwarnings

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - run: rustup toolchain install ${{ matrix.rust }} --profile minimal --no-self-update

      - uses: Swatinem/rust-cache@v2

      - run: make checkfast

      - run: make testfast

  codecov:
    name: Code Coverage
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - run: rustup toolchain install stable --profile minimal --component llvm-tools-preview --no-self-update

      - uses: Swatinem/rust-cache@v2

      - uses: taiki-e/install-action@cargo-llvm-cov

      - run: cargo llvm-cov --all-features --workspace --lcov --output-path lcov.info

      - uses: codecov/codecov-action@e156083f13aff6830c92fc5faa23505779fbf649
        with:
          files: lcov.info

  doc:
    name: Build-test documentation
    runs-on: ubuntu-latest
    env:
      RUSTDOCFLAGS: -Dwarnings

    steps:
      - name: Checkout sources
        uses: actions/checkout@v3

      - run: rustup toolchain install stable --profile minimal --component rust-docs --no-self-update

      - uses: Swatinem/rust-cache@v2

      - name: Run cargo doc
        run: cargo doc --workspace --all-features --document-private-items --no-deps
